{% extends "layout.njk" %}
{% import "navbar.njk" as navbar %}

{% block content %}
    {{ navbar.setActive("index", loggedIn, username) }}
    
    <main class="container">

        
        <h1>Index</h1>

        <a href="/create/account">create account</a>

        
        <img src="/images/board2.jpg" alt="Bild på insidan av en bärbar dator. (min lärare sa åt mig att ta med en bild)">


    </main>


{% endblock %}